# Dépendances
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
.next/
out/

# Variables d'environnement — NE JAMAIS COMMIT
.env
.env.local
.env.*.local
.env.development
.env.production
.env.test

# Logs
*.log
npm-debug.log*
yarn-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/
*.swp

# Prisma
prisma/migrations/dev.db

# Coverage Jest
coverage/